   <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">l'equipe qui a créé ce site</h4>
          </div>
          <div class="card-body">
           
            <ul class="list-unstyled mt-3 mb-4">
              <li>Thomas Raducha</li>
              <li>sur </li>
              <li>Linux</li>
              <li>Parisien</li>
            </ul>
        
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
           
          </div>
          <div class="card-body">
            
            <ul class="list-unstyled mt-3 mb-4">
              <li>Anthony Miloradovic </li>
              <li>sur</li>
              <li>windows</li>
              <li>Parisien</li>
            </ul>
         
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          
          </div>
          <div class="card-body">
           
            <ul class="list-unstyled mt-3 mb-4">
              <li>Mickael Gervais</li>
              <li>sur</li>
              <li>windows</li>
              <li>Doubiste</li>
            </ul>
         
          </div>
        </div>
      </div>


